.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 33%;
    margin-top: 5px;
    float: left;
    text-align: center;
    font-family: arial;
    padding: 2px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

/*a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}*/

button:hover, .card a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

#mySidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

    #mySidenav a:hover {
        left: 0;
    }

#about {
    top: 20px;
    background-color: #f44336;
}
